h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
/*-------------------------Nav bar------------------------------------*/
.navbar{
    background-color: rgb(37, 38, 54);
    padding: 20px;
}
.navbar a{
    color: aliceblue;
}

.nav-link:hover {
    color: green;
}

.navbar-collapse{
    display: flex;
    justify-content: space-between;
}
/*-------------------------Nav bar vertical------------------------------------*/
.navVertical{
    border: 1px solid black;
    height: 100vh;
}



/*-------------------------Account users---------------------------------*/
.GroupeInfoPerso{
    width: 50%;
}
/*-------------------------Form------------------------------------------*/
label{
    font-weight: bold;
}
/*-------------------------DocumentPage------------------------------------------*/

.textnave{
    background-color: #F9F7F3;
    height: 100vh;
}

.validationDelete{
    text-align: center;
}
.validationDelete a{
    text-decoration: none;
    color: aliceblue;
}
.DocumentPage a{
    text-decoration: none;
    color: black;
}
.DocumentPage a :hover{
    color: green;
}
.validFolder, .validSubfolder{
    color: green;
}













